<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Regression Suite" parallel="tests" thread-count="3">
    <test name="Authorizations">
        <classes>
            <class name="RulVulaknTests.authorization.AuthorizationTest"/>
        </classes>
    </test>

    <test name="Registration">
        <classes>
            <class name="RulVulaknTests.registration.RegistrationWithBonusTest"/>
            <class name="RulVulaknTests.registration.RegistrationWithCashBackTest"/>
            <class name="RulVulaknTests.registration.RegistrationWithoutGiftsTest"/>
        </classes>
    </test>

    <test name="Cash Box">
        <classes>
            <class name="RulVulaknTests.cashbox.CashboxTest"/>
        </classes>
    </test>
</suite>